:root {
  --app-bg:linear-gradient(135deg, #8da0f8 0%, #9871c0 100%);
  --app-color: #1c1c1c;


  --fence-columns-bg: #d1cdf688;


  --fence-total-bg: #e6ffe6;
  --fence-total-text: #1e7d32;
  --fence-btn-bg: #4f8cff;
  --fence-btn-bg-hover: #2d6cdf;
  --fence-btn-text: #fff;



  --fence-border: #ddd;
  --fence-bg: #f0f4ff;
}